
memoria/README.md
source/__pycache__/DummySV.cpython-37.pyc
source/__pycache__/GUI.cpython-37.pyc
memoria/memoria comentarios tutor.pdf
memoria/tex/ZZ TO DO25-06.txt
source/Matplotlib_logs/trama3.png
